/* styles/calendar.css */

/* 기본 이벤트 스타일 */
.rbc-event {
    background-color: #4d9aff; /* 이벤트 배경색 */
    color: white; /* 텍스트 색상 */
}

.rbc-event.selected {
    background-color: black; /* 이벤트 배경색 */
    color: white; /* 텍스트 색상 */
}

/* 슬롯 색상 변경 */
.rbc-slot-selectable {
    background-color: #f5f5f5; /* 기본 슬롯 색상 */
}

/* 선택된 슬롯 색상 변경 */
.rbc-slot-selectable.selected {
    background-color: #bbdefb; /* 선택된 슬롯 색상 */
}

/* 헤더 스타일 */
.rbc-header {
    background-color: skyblue; /* 헤더 배경색 */
    color: white; /* 헤더 텍스트 색상 */
}

/* 날짜 클릭 시 커서 포인터 설정 */
.rbc-slot-selectable {
    cursor: pointer; /* 커서 모양 변경 */
}
